$BORDER_RADIUS: 7px;

@mixin supercell-strong {
    font-family: 'supercell-magicregular';
    color: white;
    text-shadow:
       0px  3px 0 #000,
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

@mixin supercell-medium {
    font-family: 'supercell-magicregular';
    color: white;
    text-shadow:
       0px  2px 0 #000,
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

@mixin supercell-light {
    font-family: 'supercell-magicregular';
    color: white;
    text-shadow:
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

@mixin supercell-plain {
    font-family: 'supercell-magicregular';
    font-size: 12px;
    color: #666;
}

.CardDetail {
    .Summary {
        background: rgba(222,235,241,1);
        background: -moz-linear-gradient(top, rgba(222,235,241,1) 0%, rgba(249,252,253,1) 54%, rgba(249,252,253,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,235,241,1)), color-stop(54%, rgba(249,252,253,1)), color-stop(100%, rgba(249,252,253,1)));
        background: -webkit-linear-gradient(top, rgba(222,235,241,1) 0%, rgba(249,252,253,1) 54%, rgba(249,252,253,1) 100%);
        background: -o-linear-gradient(top, rgba(222,235,241,1) 0%, rgba(249,252,253,1) 54%, rgba(249,252,253,1) 100%);
        background: -ms-linear-gradient(top, rgba(222,235,241,1) 0%, rgba(249,252,253,1) 54%, rgba(249,252,253,1) 100%);
        background: linear-gradient(to bottom, rgba(222,235,241,1) 0%, rgba(249,252,253,1) 54%, rgba(249,252,253,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deebf1', endColorstr='#f9fcfd', GradientType=0 );

        border-top-right-radius: $BORDER_RADIUS;
        border-top-left-radius: $BORDER_RADIUS;

        padding: 15px 0;

        .classification {
            border-radius: $BORDER_RADIUS;
            margin: 10px 15px;
            padding: 5px 10px;
            text-align: left;

            @include supercell-medium;

            .rarity {

            }
            .type {
                float: right;
            }

            &.rare {
                background: #fda03c;
            }

            &.common {
                background: #666;
            }

            &.epic {
                background: #cc33ff;
            }
        }

    }

    .caption {
        @include supercell-plain;
        padding: 0 25px;
        margin-bottom: 0;
    }

    .Header {
        position: relative;

        h3 {
            margin: 0 0 10px 0;
            line-height: 38px;
        }

        .Close {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .Stats {
        background: #deebf1;

        border-bottom-right-radius: $BORDER_RADIUS;
        border-bottom-left-radius: $BORDER_RADIUS;

        p {
            margin: 0;
        }
    }
}
