.Close {
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;

    width: 38px;
    height: 38px;

    &:active {
        width: 36px;
        height: 36px;
        margin: 1px;
    }

    &.large {
        width: 76px;
        height: 77px;

        &:active {
            width: 74px;
            height: 75px;
            margin: 1px;
        }
    }
}
